[Unit]
Description=Download files from S3 bucket at boot
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/piink/download_from_s3.py
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
